/* Body Content Styling */
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  position: relative;
  background: url("../images/bg.png") repeat;
}

/* Set Heading Text Color  */
h1 {
    font-family:  Georgia, Times, "Times New Roman", serif;
    font-size: 3rem;
  } 
  
h4 {
    font-size: 1rem;
} 
  
/* Set Paragraph Text Color  */
p {
color: #777777;
}

.header {
    position: relative;
    color: black;
    text-align: center;
}

 /*----------------------------------------------------
 Header Landing Page Styling
------------------------------------------------------*/
  .header-content {
      background-image: url("../images/making_it_irish.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      height: 100vh;
      background-position: center;
      display: table;
  }
  
  .header-content h1 {
      color: white;
      font-family: Georgia, serif;
      font-size: 4rem;
      text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  
  .inner {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      margin: 0 auto;
  }

/*----------------------------------------------------
 CSS Animation for the section titles
------------------------------------------------------*/
  .slide-in-left {
  animation: slideMe 3s ease-in;
}

@keyframes slideMe{
    0%{
        transform: skewX(53deg) translateX(-500px);
        opacity: 0;
    }
    60%{
        transform: translateX(0px);
    }
    62%{
        transform: skewX(0deg) translateX(30px);
    }
    70%{
        transform: skew(-20deg);
        opacity: 1;
    }
    80%{
        transform: skew(0deg) translate(0);
    }
    90%{
        transform: skew(-5deg);
    }
    100%{
        transform: skew(0deg);
    }
}


/* main-content info to set background and other details */
.main-content{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-color:  #dddddd; 
}

/* remove margin spacing under the labels on the contact form */
label {
  margin-bottom: 0px;
}

/* add margin spacing under the form-controls on the contact form */
.form-control {
  margin-bottom: 15px;
}

/* Footer Styling */
footer{
border-top: 8px solid #4aaaa5;
background-color: #000000;
color: #ffffff;
text-align: center;
}

/*----------------------------------------------------
 Navbar Styling
------------------------------------------------------*/
/* Responsive fixed navbar by Albi found at https://colorlib.com/wp/bootstrap-navbar/  */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

/* Navbar section */
.navbar {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.navbar div.container {
    margin-left: 0;
    margin-right: 0;
}

.navbar div.logo {
    float: left;
    width: auto;
    height: auto;
    /* padding-left: 3rem; */
}

.navbar div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.navbar div.logo a:hover {
  color: #4aaaa5;
}

#mainListDiv {
    position: absolute;
    right: 20rem;
}

.navbar div.main_list {
    height: 65px;
    float: right;
}

.navbar div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.navbar div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
    list-style: none;
}

.navbar div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.5rem;
    list-style: none;
}

.navbar div.main_list ul li a:hover {
  color: #4aaaa5;
}

.nav-link {
  padding: 0;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Animation */
@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    /* background-color: #ffffff; */
    background-color: black;
}

.navbar div.main_list ul li a.active {
  color: #4aaaa5;
}

/*----------------------------------------------------
 About Styling
------------------------------------------------------*/
#about {
    padding: 100px 0 0 0;
    min-height: 100vh;
}

/* About Me Photo Specifics.*/
.img-thumbnail  {
    width: 250px;
    height: auto;
    margin: 5px 15px 5px 5px;
    border: 1px solid #ccc;
    float: left;
    padding: 15px;
    } 

#about a {
    color: #4aaaa5;
}

/*----------------------------------------------------
 Project Styling
------------------------------------------------------*/
#portfolio {
    padding: 100px 0 0 0;
    min-height: 100vh;
}

/* Card Flipper */
/* From - https://www.webnots.com/bootstrap/bootstrap-flip-cards.html */

.image-flip:hover .backside, .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
    
.image-flip:hover .frontside, .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
    
.image-flip {
    margin-bottom: 7em;
    width: 20em;
    height: 15em;
}
    
.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}
    
.frontside, .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}
    
.frontside {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}
    
.backside {
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
    
.card, .card-img-top {
    border-radius: 0;
}

.card-deck .card {
    width: initial;
}


.frontside .card-header {
    text-align: center;
    color: #4aaaa5;
}

.frontside p {
    text-align: center;
}

.backside h4 {
    text-align: center;
}

.backside .card-title{
    color: #4aaaa5;
}

.backside a{
    color: #4aaaa5;
}

.backside p{
    font-size:13px;
    line-height: 20px;
}

/*----------------------------------------------------
 Contact Styling
------------------------------------------------------*/
#contact {
    padding: 100px 0 0 0;
    min-height: 100vh;
    background: url("../images/bg.png") repeat;
}

.contact {
	background:#fff;
}
.contact .container {
	padding-top:123px;
	padding-bottom:90px;
}
.contact h2 {
	color:#5b4c5c;
	margin-bottom:45px;
}
.contact .heading p {
    display: block;
    margin: 0 auto;
    max-width: 660px;
    padding-bottom: 41px;
    text-align: center;
}
.contact p {
	color:#84868d;
	line-height:18px;
}
.contact .heading p {
	padding-bottom:41px;
	line-height:27px;
	color:#897f8a;
}
.contact h4 {
	font-weight:700;
}
.topCon {
	padding-bottom:0px !important;
}

.contactDetails {
	background:#ffffff;
}
.contactDetails .container {
	padding-top:15px;
	padding-bottom:120px;
}
.contactDetails h4 {
	font-weight:600;
	text-transform:uppercase;
	padding-bottom:15px;
}
.contactDetails p {
	color:#897f8a;
	font-size:15px;
	line-height:19px;
	padding-bottom:14px;
}
.contactDetails p a {
	color:#897f8a;
}
.contactDetails p a:hover {
	color:#5b4c5c;
	text-decoration:none;
}
.contactDetails i {
	padding-right:15px;
}

.conForm input {
	background:#ffffff;
	color: #4aaaa5;
	/* padding:15px 30px; */
	border:none;
	margin-right:3%;
	margin-bottom:18px;
	outline:none;
	font-style:normal;
	border:#cdc9ce 1px solid;
	font-size:15px;
}
.conForm input.noMarr {
	margin-right:0px;
}
.conForm textarea {
	background:#ffffff;
	color: #4aaaa5;
	/* padding:15px 30px; */
	margin-bottom:18px;
	outline:none;
	height:100px;
	font-style:normal;
	resize:none;
	font-size:15px;
	border:#cdc9ce 1px solid;
}
.conForm .submitBtn {
	background:#ffffff;
	font-family: 'Open Sans', sans-serif;
	color: #4aaaa5;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	float:right;
	margin:0px;
	width:135px;
	height:45px;
	line-height:40px;
	padding:0;
	border:#5b4c5c 3px solid;
	text-transform:uppercase;
	transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
}

.conForm .submitBtn:hover {
	background:#5b4c5c;
	color:#ffffff;
}

/* From w3schools - change placeholder color*/
::placeholder {         /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4aaaa5;
    opacity: 1;         /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #4aaaa5;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #4aaaa5;
}

/* Media Actions */
@media screen and (min-width: 768px) {
    
    .conForm input.col-sm-6 {
    width: 48.5%;
   }
   
   .conForm input.col-lg-6 {
    width: 48.5%;
   }

}

/* Media query section */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .container {
        margin: 0;
    }

    #card-1 {
        display: block;
    }

}

@media screen and (max-width:768px) {
    
    .header-content h1 {
        color: white;
        font-family: Georgia, serif;
        font-size: 1.5rem;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }

    .navbar div.logo {
        margin-left: 0;
    }

    .navbar div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }

    .navbar div.show_list {
        height: auto;
        display: none;
    }

    .navbar div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        background-position: center top;
    }

    .navbar div.main_list ul li {
        width: 100%;
        text-align: right;
    }

    .navbar div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }

    .navbar div.media_button {
        display: block;
    }

    #about-main p{
        float: right;
    }

    /* hide the word guess project on smaller devices since it currently needs the spacebar to activate */
    #card-1 {
        display: none;
    }
    
}